<ion-content [fullscreen]="true">
  <div class="vertical-center">
    <div class="center">
      <h1>Enter your email to reset password</h1>

      <form [formGroup]="userForm" (ngSubmit)="sendEmail()">
        <ion-item >
          <ion-input color="dark" type="mail" placeholder="Email address" [formGroup]="userForm" formControlName="email"></ion-input>
        </ion-item>
  
        <ion-button type="submit" color="primary" shape="round" expand="block">
          Send a reset password email
        </ion-button>
      </form>
    </div>
    
  </div>

</ion-content>
