<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="title-wrapper">
        <span>My Recipes</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit mode</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete mode</span>
          </button>
        </mat-menu>
      </div>     
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recipes</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-searchbar animated="true" placeholder="Filter by name" (ionInput)="handleInput($event)"></ion-searchbar>
  </div>
  <div class="list-wrapper">
    <ion-list>
    @for (result of results; track result.id) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{result.title}}</ion-card-title>
        <ion-card-subtitle>Cooking time:  {{result.cookTime}} min</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content class="recipe-description">
        {{result.description}}
      </ion-card-content>
    </ion-card>
  }
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <div class="button-wrapper">
    <ion-fab-button size="small">
      <ion-icon (click)="openBottomSheet()" name="add"></ion-icon> 
    </ion-fab-button>
  </div>  
</ion-footer>