<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="title-wrapper">
        <span>My Recipes</span>
        <div>
          <app-account-button></app-account-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recipes</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-searchbar
      animated="true"
      placeholder="Filter by name"
      (ionInput)="handleInput($event)"
    ></ion-searchbar>
  </div>
  <div *ngIf="isLoading; else displayBlock" class="spinner-div">
    <mat-spinner></mat-spinner>
  </div>

  <ng-template class="list-wrapper" #displayBlock>
      <ion-list>
      @for (result of results; track result.id) {
      <ion-card (click)="openRecipe(result)">
        <ion-card-header>
          <ion-card-title>{{result.title}}</ion-card-title>
          <!-- <ion-card-subtitle>Cooking time:  {{result.cookTime}} min</ion-card-subtitle> !-->
        </ion-card-header>

        <ion-card-content class="recipe-description">
          {{result.description}}
        </ion-card-content>
      </ion-card>
      }
    </ion-list>
  </ng-template>
</ion-content>
<ion-footer>
  <div class="button-wrapper">
    <ion-fab-button size="small">
      <ion-icon (click)="openBottomSheet()" name="add"></ion-icon>
    </ion-fab-button>
  </div>
</ion-footer>
